.categories__table {
  margin-top: 50px;
  background-color: #FFFFFF;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 
      0 5px 5px rgba(0, 0, 0, 0.22) !important;
}

.update__category-btn a {
  color: #000;
}

.delete__category-btn {
  
  margin-left: 10px;
}