@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,400;1,700&display=swap");

:root {
  --main-dark: #343a40;
  --main-light: #f4f6f9;
  --text-white: #d6d8d9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.app__container {
  height: 100vh;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
}

.page__routes {
  background-color: #f9f9f9;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--text-white);
}

a:hover {
  color: #ffffff;
}

.required__warning,
.error__warning {
  color: red;
}
